{% extends "layout.html" %}

{% set thisPageTitle = "view-application" %}

{% block beforeContent %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/public/stylesheets/accordion.css">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post" novalidate>
          <h1 class="govuk-heading-l">Application<h1>
          <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


        <!-- Permit details -->
        <h2 class="govuk-heading-m">About the permit</h2>
        <hr>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Permit type</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-!-margin-bottom-1">{{data['permitType']}}</p>
                    </dd>

                    <dd class="govuk-summary-list__actions">
                      <p></p>
                    </dd>
                  </div>
                </dl>

<!-- Your contact details (agent) -->
      {% if data['isAgent'] == 'yes'%}
        <h2 class="govuk-heading-m">Your contact details</h2>
        <hr>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Full name</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Business name</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Email address</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['your-full-name']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['your-business-name']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['your-email']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Address</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['agent-address']}}</p>
              <!-- <p class="govuk-!-margin-bottom-1">International Shipping Ltd</p>
              <p class="govuk-!-margin-bottom-1">22 Prospect Wharf</p>
              <p class="govuk-!-margin-bottom-1">Folkstone</p>
              <p class="govuk-!-margin-bottom-1">FO23 6MY</p> -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>
        </dl>
<!-- Applicant's contact details (agent-led) -->
        <h2 class="govuk-heading-m">Applicant's contact details</h2>
        <hr>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Full name</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Business name</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Email address</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['applicant-full-name']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['applicant-business-name']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['applicant-email']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Address</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['your-address']}}</p>
              <!-- <p class="govuk-!-margin-bottom-1">Kew Gardens<br>
              <p class="govuk-!-margin-bottom-1">4 Chalk Walk<br>
              <p class="govuk-!-margin-bottom-1">London<br>
              <p class="govuk-!-margin-bottom-1">SW23 2FH</p> -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>
        </dl>

      {% else %}
<!-- Your contact details (applicant) -->
        <h2 class="govuk-heading-m">Your contact details</h2>
        <hr>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Full name</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Business name</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Email address</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['applicant-full-name']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['applicant-business-name']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['applicant-email']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Address</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['your-address']}}</p>
              <!-- <p class="govuk-!-margin-bottom-1">Kew Gardens</p>
              <p class="govuk-!-margin-bottom-1">4 Chalk Walk</p>
              <p class="govuk-!-margin-bottom-1">London</p>
              <p class="govuk-!-margin-bottom-1">SW23 2FH</p> -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>
        </dl>
      {% endif %}

      <!-- Delivery address -->
              <h2 class="govuk-heading-m">Delivery address</h2>
              <hr>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Address</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-!-margin-bottom-1">{{data['your-address']}}</p>
                  </dd>
                </div>
              </dl>

        <!-- Species details -->
                <h2 class="govuk-heading-m">Specimen details</h2>
                <hr>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
        <!-- List -->
                    <dt class="govuk-summary-list__key">
                      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Scientific name</p>

                      {% if data['specimenDescription'] == 'livingAnimal'%}
                        {% if data['specimenType'] == 'animal'%}
                          {% if data['identificationMark'] === 'unmarked'%}
                            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Unmarked specimens</p>
                            <!-- <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Unit of measurement</p> -->
                          {% endif %}
                        {% endif %}
                      {% else %}
                        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Quantity or net mass</p>
                        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Unit of measurement</p>
                      {% endif %}

                      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Source code</p>
                      {% if data['permitType'] != 'A10'%}
                        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Purpose code</p>
                      {% endif %}
                      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Specimen type</p>
                      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Trade term code</p>
                      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Unique identification mark</p>

                      {% if data['specimenDescription'] == 'livingAnimal'%}
                        {% if data['specimenType'] == 'animal'%}
                        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Sex</p>
                        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date of birth</p>
                          {% if data['permitType'] === 'A10'%}
                            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Parent 1: Identification mark</p>
                            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Parent 1: A10 number</p>
                            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Parent 2: Identification mark</p>
                            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Parent 2: A10 number</p>
                            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Acquired date</p>
                            {% if data['hasA10'] === 'yes'%}
                              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Existing Article 10 certificate</p>
                            {% endif %}
                          {% endif %}

                        {% endif %}
                      {% endif %}

                      {% if data['specimenDescription'] === 'workedItem'%}
                        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Created date</p>
                      {% endif %}

                      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Description</p>
                    </dt>

        <!-- Value -->
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-!-margin-bottom-1">{{data['speciesName']}}</p>

                      {% if data['specimenDescription'] == 'livingAnimal'%}
                        {% if data['specimenType'] == 'animal'%}
                          {% if data['identificationMark'] === 'unmarked'%}
                            <p class="govuk-!-margin-bottom-1">{{data['unmarkedQuantity']}}</p>
                          {% endif %}
                        {% endif %}
                      {% else %}
                        <p class="govuk-!-margin-bottom-1">{{data['quantity']}}</p>
                        <p class="govuk-!-margin-bottom-1">{{data['unitOfMeasure']}}</p>
                      {% endif %}

                      <p class="govuk-!-margin-bottom-1">{{data['sourceCode']}}</p>
                      {% if data['permitType'] != 'A10'%}
                      <p class="govuk-!-margin-bottom-1">{{data['purposeCode']}}</p>
                    {% endif %}
                      <p class="govuk-!-margin-bottom-1">{{data['specimenDescription']}}</p>
                      {% if data['tradeTerm'] === 'yes'%}
                          <p class="govuk-!-margin-bottom-1">{{data['tradeTermCode']}}</p>
                      {% else %}
                        <p class="govuk-!-margin-bottom-1">Not known</p>
                      {% endif %}

                      {% if data['identificationMark'] === 'Microchip number'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-1']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Closed ring number'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-2']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Split ring number'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-3']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Other type of metal ring'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-4']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Cable tie'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-5']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Hunting trophy'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-6']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Label'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-7']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Swiss institute'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-8']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'Serial number'%}
                      <p class="govuk-!-margin-bottom-1">{{data['identificationMark-9']}}</p>
                      {% endif %}
                      {% if data['identificationMark'] === 'unmarked'%}
                      <p class="govuk-!-margin-bottom-1">The specimen is unmarked</p>
                      {% endif %}

        <!-- Value - Living animals -->
                  {% if data['specimenDescription'] == 'livingAnimal'%}
                    {% if data['specimenType'] == 'animal'%}
                        <p class="govuk-!-margin-bottom-1">{{data['gender']}}</p>
                        {% if data['hatch-date-day'] === ''%}
                          <p class="govuk-!-margin-bottom-1">04 12 2020</p>
                          {% else %}
                          <p class="govuk-!-margin-bottom-1">{{data['hatch-date-day']}} {{data['hatch-date-month']}} {{data['hatch-date-year']}}</p>
                        {% endif %}
                        {% if data['permitType'] === 'A10'%}
                            <p class="govuk-!-margin-bottom-1">{{data['parent1IdentificationMark']}}</p>
                            <p class="govuk-!-margin-bottom-1">{{data['parent1CertificateNumber']}}</p>
                            <p class="govuk-!-margin-bottom-1">{{data['parent2IdentificationMark']}}</p>
                            <p class="govuk-!-margin-bottom-1">{{data['parent2CertificateNumber']}}</p>
                            <p class="govuk-!-margin-bottom-1">{{data['acquired-date-day']}} {{data['acquired-date-month']}} {{data['acquired-date-year']}}</p>
                        {% endif %}
                        {% if data['hasA10'] === 'yes'%}
                            <p class="govuk-!-margin-bottom-1">{{data['certificateNumber']}}</p>
                        {% endif %}

                    {% endif %}
                  {% endif %}

                      {% if data['specimenDescription'] === 'workedItem'%}
                        <p class="govuk-!-margin-bottom-1">{{data['created-date-day']}} {{data['created-date-month']}} {{data['created-date-year']}}</p>
                      {% endif %}

                        {% if data['description'] === ''%}
                          <p class="govuk-!-margin-bottom-1">No other information</p>
                          {% else %}
                          <p class="govuk-!-margin-bottom-1">{{data['description']}}</p>
                        {% endif %}
                    </dd>
                  </div>
                </dl>

<!-- Country of import or re-export details -->
          {% if data['permitType'] == 'import'%}
          <h2 class="govuk-heading-m">Country of {{data['permitType']}} details</h2>
          <hr>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% endif %}
          {% if data['permitType'] == 're-export'%}
          <h2 class="govuk-heading-m">Country of last {{data['permitType']}} details</h2>
          <hr>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% endif %}

          {% if data['permitType'] == 'import' or data['permitType'] == 're-export' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Country</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Permit number</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Permit issue date</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['importCountry']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['importPermitNumber']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['importPermitIssueDay']}} {{data['importPermitIssueMonth']}} {{data['importPermitIssueYear']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>
        </dl>

<!-- Country of origin details -->
        <h2 class="govuk-heading-m">Country of origin details</h2>
        <hr>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Country</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Permit number</p>
              <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Permit issue date</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-!-margin-bottom-1">{{data['originCountry']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['originPermitNumber']}}</p>
              <p class="govuk-!-margin-bottom-1">{{data['originPermitIssueDay']}} {{data['originPermitIssueMonth']}} {{data['originPermitIssueYear']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <p></p>
            </dd>
          </div>
        </dl>
    {% endif %}

    <!-- Add comments -->
    <h2 class="govuk-heading-m">Remarks</h2>
    <hr>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Remarks</p>
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['comment']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <p></p>
          </dd>
        </div>
      </dl>

    <!-- <div><p class="govuk-body">Preview in a <a href="application-preview">CITES application form</a></p></div> -->

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Return to your applications
            </button>
          </div>

        </form>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      </div>
    </div>


{% endblock %}
