{% extends "layout-with-navigation.html" %}

{% set pageTitle = "your-applications" %}

{% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--green">prototype</strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="your-applications">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="your-submissions">Your applications</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{data['submissionRef'] or "DF-2026-X"}}
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{data['submissionRef'] or "DF-2026-X"}}</h1>
    <a class="govuk-button govuk-button--secondary" href="/public/downloads/cites-export-falcon-permit.pdf" role="button">
        Download permits
      </a>

    {# Define the species list for the loop #}
    {% set birds = [
      { sci: "Falco peregrinus", int: "PF-2026-001" },
      { sci: "Aquila chrysaetos", int: "GE-2026-002" },
      { sci: "Haliaeetus leucocephalus", int: "BE-2026-003" },
      { sci: "Accipiter nisus", int: "SP-2026-004" },
      { sci: "Buteo buteo", int: "BZ-2026-005" },
      { sci: "Pandion haliaetus", int: "OS-2026-006" },
      { sci: "Milvus milvus", int: "RK-2026-007" },
      { sci: "Falco tinnunculus", int: "KS-2026-008" },
      { sci: "Strix aluco", int: "TO-2026-009" },
      { sci: "Circus cyaneus", int: "HH-2026-010" },
      { sci: "Tyto alba", int: "BO-2026-011" },
      { sci: "Gypaetus barbatus", int: "VL-2026-012" }
    ] %}
    
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Reference number</th>
          <th scope="col" class="govuk-table__header">Scientific name</th>
          <th scope="col" class="govuk-table__header">Internal reference</th>
          <th scope="col" class="govuk-table__header">Permit number</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for bird in birds %}
          <tr class="govuk-table__row">
            {# Reference Number Logic #}
            <td class="govuk-table__cell">
              {% if loop.first %}
                <a href="view-application">{{data['submissionRef'] or "DF-2026-X"}}/001</a>
              {% else %}
                <a href="#">{{data['submissionRef'] or "DF-2026-X"}}/0{{ loop.index if loop.index > 9 else "0" + loop.index }}</a>
              {% endif %}
            </td>

            {# Scientific Name (Italics) #}
            <td class="govuk-table__cell"><i>{{ bird.sci }}</i></td>

            {# Trader Internal Reference #}
            <td class="govuk-table__cell">{{ bird.int }}</td>

            {# Permit Number Logic (Only first row) #}
            <td class="govuk-table__cell">
              {% if loop.first %}
                <a href="view-permit">{{data['permitNumber'] or "P-GB-2026-001"}}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds"><br></div>
    <div class="govuk-grid-column-one-third">
      <nav class="govuk-pagination" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev govuk-grid-column-one-quarter">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <span class="govuk-pagination__link-title">Previous</span>
          </a>
        </div>
        <div class="govuk-pagination__prev govuk-grid-column-one-half">
          <p class="govuk-!-text-align-right">1 to 12 of 19</p>
        </div>
        <div class="govuk-pagination__next govuk-grid-column-one-quarter">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">Next</span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
{% endblock %}