{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "account" %}

{% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Your applications</h1>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sort-hint">
          <div>
            <h2 class="govuk-heading-m">Filters</h2>
            <p class="govuk-body govuk-!-font-weight-bold">Status</p>
          </div>
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-1" name="sort" type="radio" value="open">
              <label class="govuk-label govuk-radios__label" for="sort-1">
                Submitted
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-3" name="sort" type="radio" value="upcoming">
              <label class="govuk-label govuk-radios__label" for="sort-3">
                Awaiting payment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="closed">
              <label class="govuk-label govuk-radios__label" for="sort-2">
                In progress
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-3" name="sort" type="radio" value="upcoming">
              <label class="govuk-label govuk-radios__label" for="sort-3">
                Awaiting information
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-1" name="sort" type="radio" value="open">
              <label class="govuk-label govuk-radios__label" for="sort-1">
                Permit issued
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="closed">
              <label class="govuk-label govuk-radios__label" for="sort-2">
                Rejected
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- <hr> -->
      <h2 class="govuk-heading-m">Sort</h2>
      <p class="govuk-body govuk-!-font-weight-bold">Application</p>
    </div>

    <div class="govuk-form-group ex1">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Application name
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Permit type
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Country
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
              Submitted date
            </label>
          </div>
        </div>
    </div>

  <!-- <hr> -->
<br>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Apply filter</button>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three quarters">
      <div class="govuk-form-group">
        <h3 class="govuk-heading-s"></h3>
        <label class="govuk-label" for="input-with-suffix">Search</label>
        <div class="govuk-input__wrapper">
          <input class="govuk-input" id="input-with-suffix" name="weight" type="text">
          <div class="govuk-input__suffix" aria-hidden="true">
            <a href="/search-results"><i class="fa fa-search icon searchicon"></i></a>
          </div>
        </div>
<br>
  <!-- <hr> -->


    <div class="ScrollStyle">

  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Reference number</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Application name</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Permit type</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Country</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Date</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Status</h3>
  </div>
  <div class="govuk-grid-column-two-quarters">
    <p class="govuk-!-margin-bottom-1"><a href="competition/summary">ABC12345678</a></p>
    <p class="govuk-!-margin-bottom-1">Caviar</p>
    <p class="govuk-!-margin-bottom-1">Import</p>
    <p class="govuk-!-margin-bottom-1">Spain</p>
    <p class="govuk-!-margin-bottom-1">7 January 2022</p>
    <p class="govuk-!-margin-bottom-5">Awaiting Information</p>
  </div>

  <hr>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Reference number</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Application name</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Permit type</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Country</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Date</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Status</h3>
  </div>
  <div class="govuk-grid-column-two-quarters">
    <p class="govuk-!-margin-bottom-1"><a href="competition/summary">ABC222222</a></p>
    <p class="govuk-!-margin-bottom-1">Tortoise</p>
    <p class="govuk-!-margin-bottom-1">Export</p>
    <p class="govuk-!-margin-bottom-1">America</p>
    <p class="govuk-!-margin-bottom-1">11 February 2022</p>
    <p class="govuk-!-margin-bottom-5">Permit issued</p>
  </div>

  <hr>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Reference number</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Application name</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Permit type</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Country</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Date</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Status</h3>
  </div>
  <div class="govuk-grid-column-two-quarters">
    <p class="govuk-!-margin-bottom-1"><a href="competition/summary">ABC222222</a></p>
    <p class="govuk-!-margin-bottom-1">Horse</p>
    <p class="govuk-!-margin-bottom-1">Re-export</p>
    <p class="govuk-!-margin-bottom-1">Ireland</p>
    <p class="govuk-!-margin-bottom-1">19 October 2020</p>
    <p class="govuk-!-margin-bottom-5">Permit issued</p>
  </div>

  <hr>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Reference number</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Application name</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Permit type</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Country</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Date</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Status</h3>
  </div>
  <div class="govuk-grid-column-two-quarters">
    <p class="govuk-!-margin-bottom-1"><a href="competition/summary">ABC222222</a></p>
    <p class="govuk-!-margin-bottom-1">Taxidermy</p>
    <p class="govuk-!-margin-bottom-1">Export</p>
    <p class="govuk-!-margin-bottom-1">America</p>
    <p class="govuk-!-margin-bottom-1">11 February 2022</p>
    <p class="govuk-!-margin-bottom-5">Rejected</p>
  </div>

  <hr>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Reference number</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Application name</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Permit type</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Country</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Date</h3>
    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Status</h3>
  </div>
  <div class="govuk-grid-column-two-quarters">
    <p class="govuk-!-margin-bottom-1"><a href="competition/summary">ABC222222</a></p>
    <p class="govuk-!-margin-bottom-1">Snake</p>
    <p class="govuk-!-margin-bottom-1">A10</p>
    <p class="govuk-!-margin-bottom-1">India</p>
    <p class="govuk-!-margin-bottom-1">24 August 2018</p>
    <p class="govuk-!-margin-bottom-5">Certificate issued</p>
  </div>
  <!-- <div class="govuk-grid-column-one-quarter">
    <p></p>
  </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-s"><a href="competition/summary">OPEN: Support for the homeless</a></h3>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Area</h3>
      <p>London</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Amount</h3>
      <p>£1,000,000 over 3 years</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">When to apply</h3>
      <p class="govuk-!-margin-bottom-1">Opens: 11 February 2022 at 12:00 am</p>
      <p>Closes: 11 June 2022 at 12:00 am</p>
    </div> -->

  </div>
</div>
  </div>
</div>

<style>

  .ScrollStyle
  {
      max-height: 700px;
      overflow-y: scroll;
  }

  /* Set a style for the submit button */

.searchicon {
  color: white;
  cursor: pointer;
  opacity: 0.9;
}

.searchicon:hover {
  opacity: 0.8;
}

.govuk-input__suffix{
  background-color: #1d70b8;
  color: white;
  border: ffffff;
  cursor: pointer;
}

div.ex1 {
  height: 180px;
  overflow-x: hidden;
  overflow-y: auto;
}

</style>
{% endblock %}
