{% extends "layout.html" %}

{% set thisPageTitle = "add-comments" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
        <div class="govuk-form-group">
          <form method="post" autocomplete="off">
            <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['quantity']}})</span>
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="word-count">
                Add comments
              </label>
            </h1>
            <p>Include any other comments that may support your application (optional).</p>
            <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="comment" rows="10" aria-describedby="word-count-info" value="{{data['comment']}}"></textarea>
            <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You have 500 words remaining
            </div>
            <br>
            <button class="govuk-button">Continue</button>
        </form>
      </div>
    </div>
  </div>
  </div>



{% endblock %}
