
{% extends "layout.html" %}

{% set thisPageTitle = "application-complete" %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Reference number
          <br><strong>ABC12345</strong>
        </div>
      </div>

      <!-- <p class="govuk-body"><a href="/public/files/Confirmation.pdf" download">Download details of this self-assessment</a></p> -->


      <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We will assess your application and contact you if we need any more information.</p>

      <a href="landing-page" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">Finish</a>

      <!-- <p class="govuk-body invisible-link">
            <a href="confirmation-email" class="govuk-link">View confirmation email</a>
      </p> -->


    </div>
  </div>


{% endblock %}
