{% extends "layout.html" %}

{% set thisPageTitle = "confirm-your-address-agent" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm the address
            </h1>
          </legend>

          {% if data['agent-address'] === '9 Barton Street, Manchester ME19 4TT'  %}
          <p>
            <br>9 Barton Street
            <br>Manchester
            <br>ME19 4TT
          </p>
          {% endif %}

          {% if data['agent-address'] === '11 Barton Street, Manchester ME19 4TT'  %}
          <p>
            <br>11 Barton Street
            <br>Manchester
            <br>ME19 4TT
          </p>
          {% endif %}

          {% if data['agent-address'] === '13 Barton Street, Manchester ME19 4TT'  %}
          <p>
            <br>13 Barton Street
            <br>Manchester
            <br>ME19 4TT
          </p>
          {% endif %}


        </fieldset>
      </div>
      <button class="govuk-button">Confirm</button>
      <p><a href="what-is-your-address-agent" >Change address</a></p>

    </form>
  </div>
</div>



{% endblock %}
