{% extends "layout.html" %}

{% set thisPageTitle = "what-is-the-name-of-the-species-stacked" %}



    <style>
      /* Example page specific styling. */
      html {
        color: #111;
        background: #FFF;
        font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
      }

      body {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      h1, h2, h3, h4, h5, h6 {
        line-height: normal;
      }

      label {
        display: block;
        margin-bottom: .5rem;
      }

      code {
        padding-left: .5em;
        padding-right: .5em;
        background: #EFEFEF;
        font-weight: normal;
        font-family: monospace;
      }

      main {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
      }

      .autocomplete-wrapper {
        max-width: 20em;
        margin-bottom: 4rem;
      }

    </style>


  {% block content %}

  <link rel="stylesheet" href="/public/stylesheets/accessible-autocomplete.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" autocomplete="off">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#species-name">Enter scientific name</a>
              </li>
              <li>
                <a href="#quantity">Enter quantity</a>
              </li>
              <li>
                <a href="#unit-of-measurement">Select unit of measurement</a>
              </li>
            </ul>
          </div>
        </div>

  <div>
    <fieldset class="govuk-fieldset" role="group" aria-describedby="species-hint species-error">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What is the scientific name of the species?
        </h1>
      </legend>
      <p>You can <a href="https://speciesplus.net">search for the scientific name on species+</a></p>
      <div  class="govuk-form-group govuk-form-group--error" id="speciesName">
        <label class="govuk-label" for="species-name">Scientific name</label>
        <p id="species-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter the scientific name
        </p>
        <input class="govuk-input govuk-!-width-two-thirds" id="species-name" name="speciesName" type="text">
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="quantity-hint quantity-error">
      <div>
        <label class="govuk-label" for="quantity">Quantity</label>
        <p id="quantity-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter the quantity using numbers 0 to 9
        </p>
        <input class="govuk-input govuk-input--width-4" id="quantity" name="quantity" type="text" value="{{data['quantity']}}">
      </div>
    </fieldset>
  </div>



  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="unit-of-measurement-hint unit-of-measurement-error">
            <label class="govuk-label" for="unit-of-measurement">Unit of measurement</label>
            <p id="unit-of-measurement-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select the unit of measurement
            </p>
            <select class="govuk-select" id="unit-of-measurement" name="unitOfMeasurement" value="{{data['unitOfMeasurement']}}">
              <option value="Not provided" selected>Choose unit of measurement</option>
              <option value="number">number of specimens</option>
              <option value="Cm3">Cm3</option>
              <option value="g">g</option>
              <option value="Kg">Kg</option>
              <option value="I">I</option>
              <option value="m">m</option>
              <option value="m2">m2</option>
              <option value="m3">m3</option>
              <option value="ml">ml</option>
              <option value="tonne">tonne</option>
            </select>
    </fieldset>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </div>


      </form>
    </div>
  </div>

    {% endblock %}
