{% extends "layout-govuk.html" %}

<!-- {# {% set mainClasses = "govuk-main-wrapper--l" %} #} -->

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">CITES application forms</h1>
        <p class="govuk-body">Apply for a permit to:</p>
        <p class="govuk-body"></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>record accommodation and care arrangements when importing or moving to new premises - <a href="#">accommodation and care forms</a></li>
          <li>move a travelling exhibition that includes CITES specimens that will cross multiple borders - <a href="#">travelling exhibition certificate form</a></li>
          <li>move a single CITES specimen that will cross multiple borders, like a pet or musical instrument. Use this form for each musical instrument in a touring orchestra - <a href="#">FED0172 form</a></li>
          <li>declare a gift or loan</li>
          <li>waive the application fee</li>
        </uL>
      </div>
    </div>
  </main>
</div>


{% endblock %}
CITES application forms
Apply for a permit to:

record accommodation and care arrangements when importing or moving to new premises - accommodation and care forms
move a travelling exhibition that includes CITES specimens that will cross multiple borders - travelling exhibition certificate form
move a single CITES specimen that will cross multiple borders, like a pet or musical instrument. Use this form for each musical instrument in a touring orchestra - FED0172 form
declare a gift or loan
waive the application fee
