{% extends "layout.html" %}


{% set thisPageTitle = "importer-exporter-details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" autocomplete="off" {{ novalidateVal }}>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['quantity']}})</span>
                <h1 class="govuk-fieldset__heading">
                  Enter the importer details
                </h1>
              </legend>

              <p class="govuk-body">You must enter a UK address.</p>

              <div class="govuk-form-group">
                <label class="govuk-label" for="delivery-address-line-1">
                  Address line 1
                </label>
                <input class="govuk-input" id="delivery-address-line-1" name="delivery-address-line-1" type="text" autocomplete="delivery-address-line-1" required>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="delivery-address-line-2">
                  Address line 2 (optional)
                </label>
                <input class="govuk-input" id="delivery-address-line-2" name="delivery-address-line-2" type="text" autocomplete="delivery-address-line-2">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="delivery-address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="delivery-address-town" name="delivery-address-town" type="text" autocomplete="delivery-address-level-2" required>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="delivery-address-county">
                  County (optional)
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="delivery-address-county" name="delivery-address-county" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="delivery-address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="delivery-address-postcode" name="delivery-address-postcode" type="text" autocomplete="delivery-postal-code" required>
              </div>

            </fieldset>
          </div>

        <button class="govuk-button">Continue</button>

      </form>
    </div>
  </div>
  {% endblock %}
