{% extends "layout.html" %}

{% set thisPageTitle = "search-for-your-address-agent" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Search for your address
          </h1>
        </legend>
        <div id="event-name-hint" class="govuk-hint">
        If you are a business, give the business address.
      </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-line-1">
            Property number or name
          </label>
          <input class="govuk-input" id="owner-address-line-1" name="owner-address-line-1" type="text" autocomplete="owner-address-line1" value="{{data['owner-address-line-1']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-line-2">
            Street
          </label>
          <input class="govuk-input" id="owner-address-line-2" name="owner-address-line-2" type="text" autocomplete="owner-address-line2"  value="{{data['owner-address-line-2']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-country">
            Town or city
          </label>
          <input class="govuk-input govuk-input--width-10" id="owner-address-country" name="owner-address-country" type="text" autocomplete="owner-address-country" value="{{data['owner-address-country']}}">
        </div>

      </fieldset>

        <button class="govuk-button">Search</button>

    </form>
  </div>
</div>


{% endblock %}
