{% extends "layout.html" %}

{% set thisPageTitle = "select-your-address-agent-led" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select an address
            </h1>
          </legend>

              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Address
                </label>
                <select class="govuk-select govuk-!-width-two-thirds" id="sort" name="applicant-address" value="applicant-address">
                  <option value="address-1">3 addresses found</option>
                  <option value="5 St Marys Close, Chitterne BA12 0LR">5 St Marys Close, Chitterne BA12 0LR</option>
                  <option value="6 St Marys Close, Chitterne BA12 0LR">6 St Marys Close, Chitterne BA12 0LR</option>
                  <option value="7 St Marys Close, Chitterne BA12 0LR">7 St Marys Close, Chitterne BA12 0LR</option>
                </select>
              </div>

              <p><a href="enter-address-manually">Enter address manually</a></p>

              <button class="govuk-button" data-module="govuk-button">Continue</button>
        </fieldset>
      </form>
    </div>
  </div>
  {% endblock %}
