{% extends "layout.html" %}

{% set thisPageTitle = "unique-identification-mark" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['quantity']}})</span>
            <h1 class="govuk-fieldset__heading">
              What is the specimen's unique identification mark?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="identification-mark-1" name="identificationMark" type="radio" value=">Microchip number" data-aria-controls="conditional-identification-mark-1">
              <label class="govuk-label govuk-radios__label" for="identification-mark-1">
                <p class="govuk-body govuk-!-margin-bottom-0">Microchip number</p>
              </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-1">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="identificationMark">
                    Enter the unique identification mark
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-1" type="text">
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="identification-mark-2" name="identificationMark" type="radio" value=">Closed ring number" data-aria-controls="conditional-identification-mark-2">
                <label class="govuk-label govuk-radios__label" for="identification-mark-2">
                  <p class="govuk-body govuk-!-margin-bottom-0">Closed ring number</p>
                </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="identificationMark">
                      Enter the unique identification mark
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-2" type="text">
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="identification-mark-3" name="identificationMark" type="radio" value=">Split ring number" data-aria-controls="conditional-identification-mark-3">
                  <label class="govuk-label govuk-radios__label" for="identification-mark-3">
                    <p class="govuk-body govuk-!-margin-bottom-0">Split ring number</p>
                  </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="identificationMark">
                        Enter the unique identification mark
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-3" type="text">
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="identification-mark-4" name="identificationMark" type="radio" value=">Other type of metal ring" data-aria-controls="conditional-identification-mark-4">
                    <label class="govuk-label govuk-radios__label" for="identification-mark-4">
                      <p class="govuk-body govuk-!-margin-bottom-0">Other type of metal ring</p>
                    </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-4">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="identificationMark">
                          Enter the unique identification mark
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-4" type="text">
                      </div>
                    </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="identification-mark-5" name="identificationMark" type="radio" value=">Cable tie" data-aria-controls="conditional-identification-mark-5">
                    <label class="govuk-label govuk-radios__label" for="identification-mark-5">
                      <p class="govuk-body govuk-!-margin-bottom-0">Cable tie</p>
                    </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-5">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="identificationMark">
                          Enter the unique identification mark
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-5" type="text">
                      </div>
                    </div>

              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="identification-mark-6" name="identificationMark" type="radio" value=">Hunting trophy" data-aria-controls="conditional-identification-mark-6">
                  <label class="govuk-label govuk-radios__label" for="identification-mark-6">
                    <p class="govuk-body govuk-!-margin-bottom-0">Hunting trophy</p>
                  </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-6">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="identificationMark">
                        Enter the unique identification mark
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-6" type="text">
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="identification-mark-7" name="identificationMark" type="radio" value=">Label" data-aria-controls="conditional-identification-mark-7">
                    <label class="govuk-label govuk-radios__label" for="identification-mark-7">
                      <p class="govuk-body govuk-!-margin-bottom-0">Label</p>
                    </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-7">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="identificationMark">
                          Enter the unique identification mark
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-7" type="text">
                      </div>
                    </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="identification-mark-8" name="identificationMark" type="radio" value=">Swiss institute" data-aria-controls="conditional-identification-mark-8">
                          <label class="govuk-label govuk-radios__label" for="identification-mark-8">
                            <p class="govuk-body govuk-!-margin-bottom-0">Swiss institute</p>
                          </label>
                          </div>
                          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-8">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="identificationMark">
                                Enter the unique identification mark
                              </label>
                              <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-8" type="text">
                            </div>
                          </div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="identification-mark-9" name="identificationMark" type="radio" value=">Serial number" data-aria-controls="conditional-identification-mark-9">
                            <label class="govuk-label govuk-radios__label" for="identification-mark-9">
                              <p class="govuk-body govuk-!-margin-bottom-0">Serial number</p>
                            </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-identification-mark-9">
                              <div class="govuk-form-group">
                                <label class="govuk-label" for="identificationMark">
                                  Enter the unique identification mark
                                </label>
                                <input class="govuk-input govuk-input--width-10" id="identificationMark" name="identificationMark-9" type="text">
                              </div>
                            </div>

            <div class="govuk-radios__divider">Or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specimen-source-10" name="identificationMark" type="radio" value="The specimen is not marked" data-aria-controls="conditional-source">
              <label class="govuk-label govuk-radios__label" for="specimen-source-10">
                <p class="govuk-body govuk-!-margin-bottom-0">The specimen is not marked</p>
              </label>
              </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}
