{% extends "layout.html" %}

{% set thisPageTitle = "what-is-your-address-applicant" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" autocomplete="off">

          <h1 class="govuk-heading-l">
              What is your address?
          </h1>
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <label class="govuk-label" for="postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code" value="{{data['your-address-postcode']}}">
            </div>
          </fieldset>

          <button class="govuk-button">Find address</button>
          <p><a href="enter-your-address-manually-applicant">Enter address manually</a></p>
        </form>

      </div>
    </div>

  {% endblock %}
