// 1. Silence the deprecation wars between HMRC and GOV.UK
$govuk-new-organisation-colours: true;
$govuk-suppressed-warnings: ("legacy-organisation-colours");


// 2. (Optional) Your autocomplete styles from earlier
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  @include govuk-typography-common;
}