
{% extends "layout-no-back-link.html" %}

{% set thisPageTitle = "application-complete" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        {% if data['payNow'] === 'yes'%}
        <h1 class="govuk-panel__title">Application complete</h1>
        {% else %}
        <h1 class="govuk-panel__title">Application submitted</h1>
        {% endif %}
        <div class="govuk-panel__body">
          Submission Reference
          <br><strong>AB7N10639G</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      {% if data['payNow'] === 'yes'%}
      <p class="govuk-body">We have received your application fee and have sent you a confirmation email.</p>
       <p class="govuk-body">We aim to process your application within 30 days. We may contact you if we need more information.</p>
      <h2 class="govuk-heading-m">Download your permits</h2>
      <p class="govuk-body">You'll be able to view and download your CITES permit from your account. </p>
      <p class="govuk-body">We no longer post out paper permits. </p>
      <p class="govuk-body">To move your specimen, a valid permit must be presented at a <a href="https://www.gov.uk/guidance/designated-land-sea-and-air-ports-for-trading-or-moving-cites-listed-endangered-species" class="govuk-link">designated UK port or airport</a>.</p>


      
      {% else %}
      
      <p class="govuk-body">We aim to process your application within 30 days. We may contact you if we need more information.</p>
      <h2 class="govuk-heading-m">Fees</h2>
      <p class="govuk-body">You'll receive an email with a link to pay the application fee.</p>
      <h2 class="govuk-heading-m">View your applications</h2>
      <p class="govuk-body">To view the status of your applications or create a new one, go to your dashboard. There may be a short delay before this application appears in your account.</p>
      <h2 class="govuk-heading-m">Get help</h2>
      <p class="govuk-body">If you need help with your application, contact us at <a href="contact-us" data-module="govuk-button">wildlife.licencing@defra.gov.uk</a>.</p>
      
      {% endif %}

      {% if data['newUser'] === 'yes'%}
      <a href="applicant-dashboard?payNow=yes&newUser=submitted" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Account dashboard</a>
      {% else %}
      <a href="applicant-dashboard?payNow=yes&newUser=no" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Account dashboard</a>
      {% endif %}
    </div>
  </div>  
{% endblock %}
