{% extends "layouts/main.html" %}

{% set pageTitle = "Email notification" %}

{% block beforeContent %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">                                              
    
    <h2 class="govuk-heading-m">Email preview</h2>  
    
    {# Metadata Section #}
    <p class="govuk-body">
      <strong>To:</strong> {{ data['your-full-name'] | default("Dean Falconer") }} ({{ data['your-email'] | default("dean@falconers-nest.co.uk") }})
    </p>
    <p class="govuk-body">
      <strong>Subject:</strong> CITES permits are now digital
    </p>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {# Email Body #}
    <div class="govuk-panel__body">
      <p class="govuk-body">We are changing how you receive and use your CITES permits.</p>
      <p>From [go-live date], you will no longer receive a paper permit by post. Instead, your permit will be issued digitally and made available in your online account.</p>
      <h2 class="govuk-heading-s">What is changing</h2>
      <p class="govuk-body">Permits will be issued digitally.
        We'll email you when your permit is ready.
        You can sign in to your account to download it.
        There will no longer be different coloured copies of permits.
        Permits will be digitally endorsed by Border Force.</p>
      <h2 class="govuk-heading-s">What this means for you</h2>
      <p class="govuk-body">You must download your permit from your <a href="login">online account</a>.
      <p class="govuk-body">If you have previously been issued a paper permit, it remains valid until expiry.
      <p class="govuk-body">If you need further advice or support with your application, contact APHA at <a href="#">wildlife.licencing@apha.gov.uk</a>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">
        From CITES team<br>
        Animal and Plant Health Agency (APHA)
      </p>
    </div>
  </div>
</div>
{% endblock %}



