{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "Sign into your CITES account" %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        {% if loginError %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Invalid username or password",
                href: "#username"
              }
            ]
          }) }}
        {% endif %}

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Keeping your information secure</h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">Do not share your Government Gateway user ID and password with anyone else.</p>
          </div>
        </div>

        <h1 class="govuk-heading-xl">Sign in using Government Gateway</h1>

        {# Action points to the represent page route #}
        <form action="represent" method="post" novalidate>
          
          {{ govukInput({
            label: {
              text: "Government Gateway user ID"
            },
            hint: {
              text: "This could be up to 12 characters."
            },
            classes: "govuk-!-width-one-half",
            id: "username",
            name: "username",
            value: data['username'],
            autocomplete: "username"
          }) }}

          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password",
            autocomplete: "current-password"
          }) }}

          {{ govukButton({
            text: "Sign in"
          }) }}

        </form>
        <h2 class="govuk-heading-m">New users of Government Gateway</h2>
        <div class="govuk-body">
          <a class="govuk-link" id="no-account" href="#">Create sign in details</a>
        </div>
        <h2 class="govuk-heading-m">Problems signing in</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="#">I have forgotten my password</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="#">I have forgotten my Government Gateway user ID</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="#">I have forgotten my Government Gateway user ID and password</a>
        </p>
        <p class="govuk-body govuk-!-padding-top-10">
            <a class="govuk-link" href="#" id="getHelp">Get help with this page</a>
        </p>
      </div>
    </div>
{% endblock %}