{% extends "layout-with-navigation.html" %}

{% set pageTitle = "Test credentials:" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--green">prototype</strong>
    <span class="govuk-phase-banner__text">
      This is a new service  your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    <p class=govuk-body>
      Use the following credentials to log in to the prototype with different user roles.
    </p>
    <p class="govuk-body"><strong>Agent Collins:</strong><br>
    Username: <code>agent-collins</code><br>
    Password: <code>collins123</code></p>

    <p class="govuk-body"><strong>Applicant Falconer:</strong><br>
    Username: <code>dean-falconer</code><br>
    Password: <code>falconer123</code></p>

    <p class="govuk-body"><strong>CITES team:</strong><br>
    Username: <code>cites</code><br>
    Password: <code>cites123</code></p>
  </div>
</div>
{% endblock %}