{% extends "layout-with-navigation.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Your submission - TN5203" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--green">prototype</strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="applicant-dashboard">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="applicant-dashboard">Your applications</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      TN5203
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">{{ data['applicant-business-name'] or "Falconers ltd" }}</span>
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    <div class="govuk-inset-text">
      <strong>49 export applications included in this submission</strong><br>
      Submitted on 18 February 2026
    </div>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Download permits:</h2>
            <div class="govuk-button-group govuk-!-margin-bottom-6">
              {{ govukButton({
                text: "Multipage PDF",
                classes: "govuk-button--secondary govuk-button--small",
                href: "/public/downloads/26GBEXP12345A-valid.pdf",
              }) }}

              {{ govukButton({
                text: "Zipped files",
                classes: "govuk-button--secondary govuk-button--small",
                href: "/public/downloads/AB7N10639G-3EXP-CITES.zip"
              }) }}
            </div>

    {# Data source for the table #}
    {% set birds = [
      { sci: "Falco peregrinus", int: "PF-2026-001", suffix: "49271A" },
      { sci: "Aquila chrysaetos", int: "GE-2026-002", suffix: "82410B" },
      { sci: "Haliaeetus leucocephalus", int: "BE-2026-003", suffix: "36391C" },
      { sci: "Accipiter nisus", int: "SP-2026-004", suffix: "10239D" },
      { sci: "Buteo buteo", int: "BZ-2026-005", suffix: "55862E" },
      { sci: "Pandion haliaetus", int: "OS-2026-006", suffix: "90301F" },
      { sci: "Milvus milvus", int: "RK-2026-007", suffix: "21172G" },
      { sci: "Falco tinnunculus", int: "KS-2026-008", suffix: "77334H" },
      { sci: "Strix aluco", int: "TO-2026-009", suffix: "40470J" },
      { sci: "Circus cyaneus", int: "HH-2026-010", suffix: "61323K" },
      { sci: "Tyto alba", int: "BO-2026-011", suffix: "19972L" },
      { sci: "Gypaetus barbatus", int: "VL-2026-012", suffix: "88321M" }
    ] %}

    {# Prepare rows for govukTable macro #}
    {% set tableRows = [] %}
    {% for bird in birds %}
      {# Safe padding logic for Application Reference #}
      {% if loop.index < 10 %}
        {% set indexPadded = "00" + loop.index %}
      {% else %}
        {% set indexPadded = "0" + loop.index %}
      {% endif %}

      {% set appRefHtml %}<a href="view-application" class="govuk-link">TN5203/{{ indexPadded }}</a>{% endset %}
      {% set permitHtml %}<a href="view-permit" class="govuk-link">26GBEXP{{ bird.suffix }}</a>{% endset %}

      {% set tableRows = (tableRows.push([
        { text: appRefHtml | safe },
        { text: bird.sci, format: "numeric" if false else "text", attributes: { "style": "font-style: italic;" } },
        { text: bird.int },
        { text: permitHtml | safe }
      ]), tableRows) %}
    {% endfor %}

    {{ govukTable({
      caption: "Species included in this application",
      captionClasses: "govuk-visually-hidden",
      head: [
        { text: "Application reference" },
        { text: "Scientific name" },
        { text: "Internal reference" },
        { text: "Permit number" }
      ],
      rows: tableRows
    }) }}

    {# Official GDS Pagination component #}
    {% set previousLink = false %}
    {% if currentPage > 1 %}
      {% set previousLink = { href: "#" } %}
    {% endif %}

    {{ govukPagination({
      previous: previousLink,
      next: {
        href: "#"
      },
      items: [
        { number: 1, current: true, href: "#" },
        { number: 2, href: "#" },
        { number: 3, href: "#" },
        { ellipsis: true },
        { number: 5, href: "#" }
      ]
    }) }}
  </div>
</div>
{% endblock %}