{% extends "layout.html" %}

{% set thisPageTitle = "accessibility-statement" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Accessibility statement for ‘Apply for a CITES permit' to move or trade endangered species</h1>
      <p class="govuk-body">This accessibility statement applies to the digital service of the ‘Apply for a CITES permit' to move or trade endangered species.</p>
      <p class="govuk-body">This service is run by the Department for Environment, Farming and Rural Affairs (Defra). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the service using just a keyboard</li>
        <li>navigate most of the service using speech recognition software</li>
        <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>
      <p class="govuk-body"><a class="govuk-link" href="#">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

      <h2 class="govuk-heading-m">How accessible this website is</h2>
      <p class="govuk-body">This service has been tested internally by the team developing it. It has also been developed using GOV.UK patterns, which are rigorously tested for accessibility issues.</p>
      <p class="govuk-body">We know some parts of this website are not fully accessible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The ‘How do you know the item was made before 1918’ other-reason checkbox has been assigned an Invalid-aria Attribute. Some of the codings indicate that the value entered into a field does not conform to the format expected</li>
      </ul>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p class="govuk-body">Let us know if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>need help using this website</li>
        <li>find any problems not listed on this page or think we’re not meeting accessibility requirements</li>
      </ul>
      <p class="govuk-body">Contact: <a class="govuk-link" href="#">help@apha.gov.uk</a></p>

      <h3 class="govuk-heading-s">Enforcement procedure</h3>
      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

      <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
      <p class="govuk-body">Defra is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h3 class="govuk-heading-s">Compliance status</h3>
      <p class="govuk-body">This website is partially compliant with the <a  class="govuk-link" href="#">Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances.</a></p>

      <h3 class="govuk-heading-s">Non accessible content</h3>
      <p class="govuk-body">The content listed below is non-accessible for the following reasons:</p>

      <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>add failed content examples here ...</li>
      </ul>
      <p class="govuk-body">This fails WCAG 2.1 success criterion 4.1.2 Name, Role, Value (A). Assistive technologies cannot read customised user interface elements such as form inputs or buttons</p>
      <p class="govuk-body">It is a known issue with the design pattern, and as soon as an updated design pattern is available, we will make sure it meets accessibility standards.</p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement<h2>
      <p class="govuk-body">This statement was prepared on 15 May 2023. It was last reviewed on 15 May 2023.</p>
      <p class="govuk-body">This website was last tested on 15 May 2023. The test was carried out by Defra’s internal developers and testers, and previously, by the Digital Accessibility Centre (DAC).</p>

    </div>
  </div>


{% endblock %}
