
{% extends "layout.html" %}

{% set thisPageTitle = "application-complete-simple-payment" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number
          <br><strong>HDJ212</strong>
        </div>
      </div>

      <!-- <p class="govuk-body"><a href="/public/files/Confirmation.pdf" download">Download details of this self-assessment</a></p> -->
      <p class="govuk-body">We have received your £20 application fee and have sent you a confirmation email.</p>

      <h1 class="govuk-heading-l">What happens next</h1>

      <p class="govuk-body">We have sent your application to the APHA team for endangered plant and animal species (CITES).</p>
      <p class="govuk-body">APHA aims to process your application within 30 days. They will contact you either to confirm your application, or to ask for more information.</p>
      <p class="govuk-body">You can view the status of your application in your <a href="your-submissions?fromPage='reset'" data-module="govuk-button">CITES account</a>.</p>

      <!-- <a href="your-submissions?fromPage='reset'" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Finish</a> -->

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Payment summary</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Application type</th>
            <td class="govuk-table__cell">{{data['permitType']}}</td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            <td class="govuk-table__cell">£20.00</td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body"><a href="your-submissions?fromPage='reset'" data-module="govuk-button">What do you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>


{% endblock %}
