{% extends "layout-govuk.html" %}

<!-- {# {% set mainClasses = "govuk-main-wrapper--l" %} #} -->

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Designated land, sea and air ports for trading or moving CITES-listed endangered species</h1>
        <p class="govuk-body">The UK implements the <a href="#">Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES).</a></p>
        <p class="govuk-body">You need to import (bring in) or export (take out) CITES specimens through the designated land, sea and air ports.</p>

        <h2 class="govuk-heading-m">CITES-designated points of entry and exit</h2>
        <p>The customs offices at the following points of entry and exit are designated for CITES trade.</p>

        <p>You can use these airports:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Belfast International</li>
          <li>Birmingham International</li>
          <li>Bristol International</li>
          <li>Cardiff International</li>
          <li>East Midlands</li>
          <li>Edinburgh</li>
          <li>Gatwick</li>
          <li>Glasgow International</li>
          <li>Glasgow Prestwick</li>
          <li>Humberside</li>
          <li>London Heathrow</li>
          <li>London Luton</li>
          <li>London Stansted</li>
          <li>Manchester</li>
          <li>Newcastle</li>
          <li>Southampton International</li>
        </uL>

        <p>You can use these airports:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Belfast Seaport</li>
          <li>Dover</li>
          <li>Eurotunnel</li>
          <li>Felixstowe</li>
          <li>Fishguard</li>
          <li>Harwich international</li>
          <li>Heysham</li>
          <li>Holyhead</li>
          <li>Hull</li>
          <li>Immingham</li>
          <li>Larne</li>
          <li>Liverpool Seaforth Container Terminal</li>
          <li>London Gateway (Port of London)</li>
          <li>Pembroke</li>
          <li>Plymouth</li>
          <li>Poole</li>
          <li>Portsmouth International Port</li>
          <li>Southampton ABP</li>
          <li>Teesport</li>
          <li>Tilbury (Port of London)</li>
        </uL>
        <p>Gibraltar is not included as a UK-designated port for CITES trade.</p>

        <h2 class="govuk-heading-m">Postal hubs</h2>
        <p>Postal hubs have been designated at:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Coventry International Parcel Post Hub</li>
          <li>Heathrow Worldwide Distribution Centre (HWDC)</li>
        </uL>
        <p>Postal hubs cannot be used by the public. They are used by Royal Mail, postal courier services and Border Force to check CITES parcels.</p>
        <p>Read how to <a href="#">import and export CITES specimens by post.</a></p>

        <h2 class="govuk-heading-m">Moving live animals and animal products</h2>
        <p>The following CITES points of entry or exit have BCPs designated to handle live animals and carry out both CITES and SPS checks.</p>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p class="govuk-!-font-weight-bold">Airport</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-!-font-weight-bold">Live CITES animals</p>
          </div>
        </div>
        <hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p>Edinburgh</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p>Dogs, cats, ferrets, lagomorphs, rodents, amphibians, reptiles and fish, molluscs and crustaceans</p>
          </div>
        </div>
        <hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p>Gatwick</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p>Reptiles, amphibians, fish, molluscs, crustaceans, birds and all mammals except ungulates and equines</p>
          </div>
        </div>
        <hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p>Glasgow Prestwick</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p>Ungulates and equines only</p>
          </div>
        </div>
        <hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p>Heathrow</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p>All species</p>
          </div>
        </div>
        <hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p>Manchester</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p>Fish, invertebrates, reptiles and amphibians</p>
          </div>
        </div>
        <hr>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p>Standsted</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p>Ungulates and equines only</p>
          </div>
        </div>
        <hr>
<br>
        <h2 class="govuk-heading-m">Moving CITES specimens through Humberside airport</h2>
        <p>If you’re transporting CITES specimens through Humberside airport you must tell Border Force at least 24 hours before you’re due to arrive. Contact Border Force by:</p>
        <p>Telephone: +44 (0)300 106 5302</p>
        <p>Email: <a href="#">BFImminghamFAST@homeoffice.gov.uk</a></p>

        <h2 class="govuk-heading-m">Moving CITES specimens through Belfast Seaport</h2>
        <p>If you’re transporting live animals you must tell Border Force Belfast at least 24 hours before you’re due to arrive.</p>
        <p class="govuk-body govuk-!-font-weight-bold">Belfast Seaport address:</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Eyden House</p>
        <p class="govuk-body govuk-!-margin-bottom-1">5 Westbank Drive</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Belfast</p>
        <p>BT3 9LA</p>

        <p>Telephone: +44 (0)3000 738 256</p>
        <p>Email: <a href="#">bfportteam@homeoffice.gov.uk</a></p>
        <p>The office opening hours are Monday to Sunday, 9am to 4pm. You must enter the Border Force Belfast processing area no later than 3:30pm.</p>
        <p>You need to make an appointment. If you call during office hours you’ll usually be seen within the hour.</p>

        <h2 class="govuk-heading-m">Moving CITES specimens through the Port of Dover</h2>
        <p>If you’re moving CITES specimens through Dover port you’ll need to present your CITES documentation to Border Force for endorsement at Dover Western Docks.</p>
        <p class="govuk-body govuk-!-font-weight-bold">Dover Western Docks address:</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Freight Clearance Centre</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Lord Warden Square</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Western Docks</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Dover</p>
        <p class="govuk-body">CT17 9EQ</p>
        <p>Signs at the port will direct you to the Freight Clearance Centre.</p>


        <h2 class="govuk-heading-m">Moving CITES specimens through Eurotunnel</h2>
        <h3 class="govuk-heading-s">Importing through Eurotunnel</h3>
        <p>To import CITES specimens into the UK through Eurotunnel, check the guidance for trading or moving CITES-listed specimens through UK ports and airports.</p>
        <h3 class="govuk-heading-s">Exporting through Eurotunnel</h3>
        <p>To export CITES specimens from the UK through Eurotunnel you can present your CITES documents to Border Force at Ebbsfleet or at another suitable designated point of entry and exit sea port before you travel through Eurotunnel.</p>

        <p class="govuk-body govuk-!-font-weight-bold">Ebbsfleet address:</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Ebbsfleet Carpark D</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Gravesend</p>
        <p class="govuk-body govuk-!-margin-bottom-1">Belfast</p>
        <p>DA10 1AE</p>

        <p>Email: <a href="#">How to access the Ebbsfleet inland border facility.</a></p>

        <h2 class="govuk-heading-m">Contact Border Force</h2>
        <p>The Border Force office has a 24 hour service, Monday to Sunday.</p>
        <p>Telephone: +44 (0)300 1060 732</p>
        <p>Email: <a href="#">doverinternationaltrade@homeoffice.gov.uk</a></p>

        <h2 class="govuk-heading-m">Contact APHA</h2>
        <p>You can <a href="#">contact APHA for support </a>with trading or moving endangered animals or plants listed under CITES.</p>

      </div>
    </div>
  </main>
</div>


{% endblock %}
