{% extends "layout-govuk.html" %}

<!-- {# {% set mainClasses = "govuk-main-wrapper--l" %} #} -->

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Apply for CITES permits to move or trade endangered species</h1>
        <p class="govuk-body">Check if you need a permit and find out how to apply to import, export or re-export endangered animal and plant species.</p>
        <h2 class="govuk-heading-m">Check if you need a permit</h2>
        <p class="govuk-body">You must apply for a permit or certificate to import, export or re-export any living or dead plant or animal (or any of its parts) that is listed by the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES).</p>
        <p>This includes if you move CITES specimens between Great Britain (England, Scotland and Wales) and the EU, and Great Britain and Northern Ireland (NI).</p>
        <p>Species are listed according to how endangered they are in the wild. Annex A is the most strictly controlled list of species and annex D the least. You must apply for a permit to import, export or re-export annex A, B or C specimens. <a href="#">Use Species+</a> to find out if your specimen comes from a species on the CITES list.</p>
        <p>You should also check if your specimen is subject to an import suspension.</p>
        <p>There are criminal offences associated with moving or trading CITES-controlled specimens if you do not have a valid permit or certificate. The maximum penalty is a 7 year prison sentence and an unlimited fine.</p>

        <h3 class="govuk-heading-s">Extra rules about identifying controlled species</h3>

        <p>CITES rules still apply to items if the:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>packaging lists a controlled item but the packet does not contain a specimen or derivative - such as a traditional Asian medicine listing tiger bone</li>
          <li>actual species is not known and the specimen can only be identified to a higher group that includes controlled species - such as Crocodylia (for all crocodiles, alligators and gharials) and Orchidaceae (for all orchids)</li>
        </uL>
        <p>Where the specimen cannot be identified as a specific species in a taxonomic group, APHA treats it as the most protected species of that group.</p>
        <p>CITES rules do not apply to naturally excreted urine, faeces and ambergris because these are waste products.</p>

        <h2 class="govuk-heading-m">Before you apply</h2>

        <p>Unless you have the correct CITES permit, you should not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ship or travel with specimens</li>
          <li>make payments for their purchase</li>
          <li>enter into contracts over specimens</li>
        </uL>

        <p>You must check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the requirements of the import or export country by contacting the <a href="#">CITES authority in that country</a></li>
          <li>if your specimen is subject to an <a href="#">import suspension (negative opinion)</a></li>
          <li>If you intend to move items that you cannot identify, you should check with the <a href="#">CITES management authority</a> of the country of import or export before you go ahead</li>
        </uL>

        <h2 class="govuk-heading-m">How to apply</h2>

        <p>You can apply online for a permit to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>import, export or re-export a specimen</li>
          <li>use a specimen for commercial purposes (also called an Article 10)</li>
        </uL>

        declare a gift or loan
        waive the application fee

        <p>You must check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>record accommodation and care arrangements when importing or moving to new premises - <a href="#">accommodation and care forms</a></li>
          <li>move a travelling exhibition that includes CITES specimens that will cross multiple borders - <a href="#">travelling exhibition certificate forma></li>
          <li>move a single CITES specimen that will cross multiple borders, like a pet or musical instrument. Use this form for each musical instrument in a touring orchestra - <a href="#">FED0172 form</a></li>
          <li>declare a gift or loan</li>
          <li>waive the application fee</li>
        </uL>
        <p>To import annex C specimens, you need to contact APHA to get an import notification form.</p>
        <p>In most cases, UK import permits are only valid when supported by a valid export permit issued by the country the items were exported from.</p>

        <h2 class="govuk-heading-m">How long it takes</h2>
        <p>APHA aims to process your application within 30 days. Only contact APHA to ask about the status of your application after this time has passed.</p>

        <h2 class="govuk-heading-m">How a decision is made</h2>
        <p>Your application will be assessed based on review by scientific advisers at the Royal Botanical Garden, Kew for plants, and the Joint Nature Conservation Committee (JNCC) for animals. For applications in Northern Ireland (NI) decisions will also be based on guidance from the EU Scientific Review Group (SRG), which advises on the impact of trade on CITES listed species.</p>
        <p>Your application may be refused if the UK’s scientific authorities advise that trade levels are harming the conservation of the species. In NI, your application could also be refused if SRG advises against trade.</p>
        <p>You can look at previous SRG decisions and opinions on Species+. If there’s no SRG opinion about a certain species, it does not mean your application will automatically be approved.</p>
        <p>If your application is agreed, you’ll get your printed, signed and stamped permit or certificate in the post. If your application is refused, APHA will send you a letter explaining why.</p>

        <h2 class="govuk-heading-m">If APHA approves your application</h2>
        <p>If your application is successful, find out what you need to do when <a href="#">trading or moving CITES-listed specimens through UK ports and airports.</a></p>

        <h2 class="govuk-heading-m">Contact us</h2>
        <p>If you intend to move items that you cannot identify, you should check with the <a href="#">CITES management authority</a> of the country of import or export before you go ahead.</p>

        <p><a href="#">Contact us </a>if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>are not sure about your application or do not know what fee to pay</li>
          <li>need a replacement permit</li>
          <li>think a personal or household item that you plan to import, export or re-export includes a CITES specimen</li>
          <li>plan to export or import European eels</li>
        </uL>

        <h3 class="govuk-heading-s">Replacement permits</h3>
        <p>If your CITES specimens have entered or left Great Britain or Northern Ireland without the relevant permits, you may need to apply for a retrospective permit. These are only granted in a very limited number of specific and exceptional circumstances.</p>
        <p>You can apply for a replacement if your official validated permit is:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>cancelled</li>
          <li>lost</li>
          <li>stolen</li>
          <li>accidentally destroyed</li>
        </uL>

        <h3 class="govuk-heading-s">Musical instruments, museums, art exhibitions and touring displays</h3>
        <p>In some cases, you may need to move CITES specimens across international borders several times. For example, endangered species or specimens that are part of a:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>touring orchestra</li>
          <li>museum exhibit</li>
          <li>art exhibition</li>
          <li>touring display or circus</li>
        </uL>
        <p>If you’re travelling with your instrument as part of a touring orchestra you must apply for a CITES permit for each instrument containing CITES listed specimens. You do not have to pay for the permit.</p>

        <h3 class="govuk-heading-s">Personal and household effects</h3>
        <p>In some specific circumstances, you do not need CITES documentation to move personal and household effects that contain a CITES specimen.</p>

      </div>
    </div>
  </main>
</div>

<p></p>

{% endblock %}
