{% extends "layout-no-back-link.html" %}

{% set thisPageTitle = "payment-error" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Sorry, there was a problem with the payment
      </h1>
      <p class="govuk-body">You can try again. No money has been taken from your account.</p>
      <p><a href="#">Go back to try the payment again</a></p>
      <p><a href="application-complete">Submit application and pay later</a></p>
  </div>


{% endblock %}
