{% extends "layout-no-back-link.html" %}

{% set thisPageTitle = "your-payment-expired" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Your payment has expired
      </h1>
      <p class="govuk-body">Contact your bank for more details. No money has been taken from your account.</p>
      <p><a href="#">Go back to try the payment again</a></p>
      <p><a href="application-complete">Submit application and pay later</a></p>
  </div>


{% endblock %}
