{% extends "layout.html" %}
<!-- {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %} -->

{% set pageTitle = "your-applications-pre-submission" %}

{% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<!-- {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%} -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Your {{data['permitType']}} application</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post" novalidate>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Scientific name</th>
            <th scope="col" class="govuk-table__header">Quantity</th>
            <th scope="col" class="govuk-table__header">Unit of measurement</th>
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="view-application" class="govuk-link">{{data['scientificName1']}} Alisterus chloropterus</a></td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">number of specimens</td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">Copy</button></td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-button--warning" data-module="govuk-button">Remove</button></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="view-application" class="govuk-link">{{data['scientificName2']}} Aa achalensis</a></td>
            <td class="govuk-table__cell">4</td>
            <td class="govuk-table__cell">Kgs</td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">Copy</button></td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-button--warning" data-module="govuk-button">Remove</button></td>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="view-application" class="govuk-link">{{data['scientificName3']}} Aa achalensis</a></td>
            <td class="govuk-table__cell">2</td>
            <td class="govuk-table__cell">Number of pieces or parts</td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">Copy</button></td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-button--warning" data-module="govuk-button">Remove</button></td>
        </tbody>
      </table>

      <button class="govuk-button" data-module="govuk-button">
        Submit
      </button>

      <p><a href="what-is-the-name-of-the-species" class="govuk-link">Add another species</a></p>
      <p><a href="are-you-sure-change-permit-type?fromPage=pre-submission" class="govuk-link">Apply for a different type of permit</a></p>

    </form>
  </div>
</div>

<style>

  .ScrollStyle
  {
      max-height: 680px;
      overflow-y: auto;
  }

  th {
    background: #ffffff;
    position: sticky;
    top: 0;
  }

  /* tr:nth-child(odd){background-color: #f2f2f2} */


  /* Set a style for the submit button */

.searchicon {
  color: white;
  cursor: pointer;
  opacity: 0.9;
}

.searchicon:hover {
  opacity: 0.8;
}

.govuk-input__suffix{
  background-color: #1d70b8;
  color: white;
  border: ffffff;
  cursor: pointer;
}

div.ex1 {
  height: 180px;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

div.ex2 {
  height: 330px;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

a {
  text-decoration: none;
}

</style>

{% endblock %}
