{% extends "layout.html" %}

{% set thisPageTitle = "confirm-applicants-international-address" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm applicant's international address
            </h1>
          </legend>
          <div>
            <p>{{data['owner-international-address-line-1']}}
              <br>{{data['owner-international-address-line-2']}}
              <br>{{data['owner-international-address-postal-code']}}
              <br>{{data['owner-international-address-country']}}
            </p>
          </div>

        </fieldset>
      </div>
      <p><a href="enter-the-applicants-international-address">change address</a></p>
      <button class="govuk-button">Confirm</button>

    </form>
  </div>
</div>



{% endblock %}
