{% extends "layout.html" %}

{% set thisPageTitle = "declaration" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" autocomplete="off">
        <!-- <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})</span> -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Declaration
            </h1>
            </legend>
            <h2 class="govuk-heading-m">HOLDING PAGE</h2>
            <p>Awaiting content</p>
          </fieldset>
        </div>


        <button class="govuk-button">Continue</button>
    </form>
  </div>
</div>

    {% endblock %}
