{% extends "layout.html" %}

{% set thisPageTitle = "parameters" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Parameters
            </h1>
          </legend>

          <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
              <p>
                <br>permitType
                <br>isAlive
                <br>isAgent
                <br>speciesName
                <br>specimenType
                <br>agent address
                <br>applicant address
                <br>delivery address
                <br>quantity
                <br>specimenCount
<br>
                <br>specimen
                <br>files
                <br>specimenInput
                <br>addInput
                <br>justThisOne
                <br>noOfSpecies
                <br>noOfSpecimens
                <br>speciesCount
                <br>specimenCount
                <br>noOfSpecimens1
                <br>noOfSpecimens2
                <br>loopCount
                <br>species
                <br>species-name-1
                <br>species-name-2
                <br>useDetails
                <br>totalSpecimens1
              </p>
            </div>

          <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-quarters">
              <p>
                <br>{{data['permitType']}}
                <br>{{data['isAlive']}}
                <br>{{data['isAgent']}}
                <br>{{data['speciesName']}}
                <br>{{data['specimenType']}}
                <br>{{data['agent-address']}}
                <br>{{data['your-address']}}
                <br>{{data['delivery-address-line-1']}} {{data['delivery-address-line-2']}} {{data['delivery-address-town']}} {{data['delivery-address-county']}} {{data['delivery-address-postcode']}}
                <br>{{data['quantity']}}
                <br>{{data['specimenCount']}}
<br>
                <br>{{data['specimen']}}
                <br>{{data['files']}}
                <br>{{data['specimenInput']}}
                <br>{{data['specimenInput']}}
                <br>{{data['justThisOne']}}
                <br>{{data['noOfSpecies']}}
                <br>{{data['noOfSpecimens']}}
                <br>{{data['speciesCount']}}
                <br>{{data['specimenCount']}}
                <br>{{data['noOfSpecimens1']}}
                <br>{{data['noOfSpecimens2']}}
                <br>{{data['loopCount']}}
                <br>{{data['species']}}
                <br>{{data['species-name-1']}}
                <br>{{data['species-name-2']}}
                <br>{{data['useDetails']}}
                <br>{{data['totalSpecimens1']}}
              </p>
          </div>

        </fieldset>
      </div>
      <button class="govuk-button">Confirm</button>

    </form>
  </div>
</div>



{% endblock %}
