{% extends "layout.html" %}

{% set thisPageTitle = "select-your-address-agent-led" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select an address
            </h1>
          </legend>

              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Address
                </label>
                <select class="govuk-select govuk-!-width-two-thirds" id="sort" name="applicant-address" value="applicant-address">
                  <option value="address-1" selected>3 addresses found</option>
                  <option value="5 St Marys Close, Chitterne BA12 0LR">5 St Marys Close, Chitterne BA12 0LR</option>
                  <option value="6 St Marys Close, Chitterne BA12 0LR">6 St Marys Close, Chitterne BA12 0LR</option>
                  <option value="7 St Marys Close, Chitterne BA12 0LR">7 St Marys Close, Chitterne BA12 0LR</option>
                </select>
              </div>

              <div class="govuk-form-group">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    I cannot find the address in this list
                  </span>
                </summary>
                <div class="govuk-details__text">
                    If you cannot find the address, <a href="enter-your-address-manually-agent-led">enter the address manually</a>.
                </div>
              </details>

              <div class="govuk-form-group">
                <p><a href="what-is-your-address-agent-led" >Search for the address again. </a></p>
              </div>

              <button class="govuk-button" data-module="govuk-button">Continue</button>
            </div>
        </fieldset>
      </form>
    </div>
  </div>
  {% endblock %}
