{% extends "layout.html" %}

{% set thisPageTitle = "what-will-you-use-your-permit-for" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!-- <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})</span> -->
            <h1 class="govuk-fieldset__heading">
              What will you use your permit for?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="purpose-1" name="purposeCode" type="radio" value="B - Breeding in captivity for artificial propagation">
              <label class="govuk-label govuk-radios__label" for="purpose-1">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">B</p>
                <p class=" govuk-!-margin-bottom-0">Breeding in captivity for artificial propagation
              </label>
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="purpose-2" name="purposeCode" type="radio" value="E - Education">
                <label class="govuk-label govuk-radios__label" for="purpose-2">
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">E</p>
                  <p class="govuk-!-margin-bottom-0">Education</p>
                </label>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="purpose-3" name="purposeCode" type="radio" value="G - Biotanical gardens">
              <label class="govuk-label govuk-radios__label" for="purpose-3">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">G</p>
                <p class="govuk-!-margin-bottom-0">Biotanical gardens</P>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="purpose-4" name="purposeCode" type="radio" value="H - Hunting trophies">
              <label class="govuk-label govuk-radios__label" for="purpose-4">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">H</p>
                <p class="govuk-!-margin-bottom-0">Hunting trophies</p>
              </label>
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="purpose-5" name="purposeCode" type="radio" value="L - Enforcement">
                <label class="govuk-label govuk-radios__label" for="purpose-5">
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">L</p>
                  <p class="govuk-!-margin-bottom-0">Enforcement</p>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="purpose-6" name="purposeCode" type="radio" value="M - Bio-medical research">
                <label class="govuk-label govuk-radios__label" for="purpose-6">
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">M</p>
                  <p class="govuk-!-margin-bottom-0">Bio-medical research</p>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="purpose-7" name="purposeCode" type="radio" value="N - Reintroduction or introduction into the wild">
                <label class="govuk-label govuk-radios__label" for="purpose-7">
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">N</p>
                  <p class=" govuk-!-margin-bottom-0">Reintroduction or introduction into the wild</p>
                </label>
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="purpose-8" name="purposeCode" type="radio" value="P - Personal">
                  <label class="govuk-label govuk-radios__label" for="purpose-8">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">P</p>
                    <p class=" govuk-!-margin-bottom-0">Personal</p>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="purpose-9" name="purposeCode" type="radio" value="Q - Circuses and travelling exhibitions">
                  <label class="govuk-label govuk-radios__label" for="purpose-9">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Q</p>
                    <p class=" govuk-!-margin-bottom-0">Circuses and travelling exhibitions</p>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="purpose-10" name="purposeCode" type="radio" value="S - Scientific">
                  <label class="govuk-label govuk-radios__label" for="purpose-10">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">S</p>
                    <p class=" govuk-!-margin-bottom-0">Scientific</p>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="purpose-11" name="purposeCode" type="radio" value="T - Commercial">
                  <label class="govuk-label govuk-radios__label" for="purpose-11">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">T</p>
                    <p class=" govuk-!-margin-bottom-0">Commercial</p>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="purpose-12" name="purposeCode" type="radio" value="Z - Zoo">
                  <label class="govuk-label govuk-radios__label" for="purpose-12">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Z</p>
                    <p class=" govuk-!-margin-bottom-0">Zoo</p>
                  </label>
                </div>

        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>



{% endblock %}
