{% extends "layout-govuk.html" %}

<!-- {# {% set mainClasses = "govuk-main-wrapper--l" %} #} -->

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Trading or moving CITES-listed specimens through UK ports and airports</h1>
        <p>Designated land, sea and air ports for trading or moving CITES-listed endangered animals, plants or their parts and derivatives</p>

        <h2 class="govuk-heading-m">Overview</h2>
        <p>You must <a href="guidance-2">apply for a permit or certificate </a>to import, export or re-export any living or dead plant or animal (or any of its parts) that is listed by the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES).</p>
        <p>You need to import (bring in) or export (take out) CITES specimens through the designated land, sea and air ports.</p>
        <p>All CITES import, export and re-export permits or certificates must be endorsed by customs authorities when they enter or leave Great Britain at the border.</p>
        <p>UK Border Force (UKBF) will check and endorse the documents. UKBF will keep the documents and send copies to APHA. Other copies are used to prove legal import or export of the specimen.</p>
        <p>You must present these documents to UKBF at the:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>first point of entry into Great Britain - before the CITES goods are removed to a customs temporary storage facility</li>
          <li>last point of exit from Great Britain</li>
        </uL>

        <p>For imports, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>get the appropriate documents to submit to UKBF</li>
          <li>attach CITES documents travelling with the goods to the outside of the parcel in a sealed clear-plastic folder</li>
        </uL>

        <p>Read the guide for trading or moving CITES-listed specimens through UK ports and airports.</p>
        <p>If you do not identify an import as part of CITES rules, UK Border Force can seize the goods and take criminal action against you and anyone else involved.</p>

        <h2 class="govuk-heading-m">Trading or moving by post</h2>
        <h3 class="govuk-heading-s">Export by post</h3>
        <p>Before you post your item to a destination outside the UK, you must present your CITES permit and specimen to UKBF at a CITES designated point of entry and exit (PoE) to be endorsed. This includes movements between Great Britain and Northern Ireland.</p>
        <p>All 3 copies of the CITES permit need to be securely attached to the outside of the parcel in a clear plastic folder.</p>
        <p>The white and yellow copy of the permit will be returned to you. You will need to put the white copy in the parcel before posting and keep the yellow copy as your proof the permits were presented for endorsement.</p>
        <p>You must complete a customs declaration form CN22 or CN23. This depends on the value of the item. You can get these forms from any Post Office. The customs declaration must include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a description of the goods</li>
          <li>the value</li>
          <li>whether they’re gifts or commercial items</li>
        </uL>

        <p>You also need a ‘C&E 83A label: exported by post under customs and excise control’. You can get one by calling HMRC on 0300 200 3700.</p>
        <p>For advice on movements between Northern Ireland and Great Britain contact: BFPortTeam@homeoffice.gov.uk</p>
        <p>For more ways to contact HMRC, check its Imports and exports: general enquiries page.</p>

        <h3 class="govuk-heading-s">Import by post</h3>
        <p>If you’re importing CITES specimens by post, you must make sure that the sender fills in and attaches to the items:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>customs declaration form CN22 or CN23 - you can get these from any post office</li>
          <li>any CITES documents required</li>
        </uL>
        <p>Although the sender is responsible for making a complete and accurate declaration, you should make sure it’s done correctly.</p>
        <p>UKBF checks CITES imports before they can enter the UK. You will be asked to provide your CITES UK import permit before UKBF releases the specimen.</p>


        <h3 class="govuk-heading-s">Post moving from Northern Ireland to Great Britain</h3>
        <p>For CITES specimens moving from Northern Ireland to Great Britain your handling agent must move parcels through Belfast seaport.</p>

        <h2 class="govuk-heading-m">CITES specimens entering Great Britain from the EU or Northern Ireland (NI)</h2>
        <p>You must use CITES-designated points of entry and exit to move CITES specimens between Great Britain (England, Scotland and Wales) and the EU.</p>
        <p>When you move CITES specimens from GB to NI, or NI to GB, the import and export checks will all happen in NI. This means you can use any point of exit from GB, but you must use a CITES-designated point of entry and exit in NI.</p>

        <h2 class="govuk-heading-m">Additional port arrangements for CITES specimens</h2>
        <p>There are additional arrangements if you’re using roll on roll off (RoRo) services or Eurotunnel.</p>
        <h3 class="govuk-heading-s">Using roll on roll off (RoRo) services</h3>
        <p>You’re able to use RoRo services, for example car ferries, at the following ports:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Dover</li>
          <li>Eurotunnel</li>
          <li>Felixstowe</li>
          <li>Harwich</li>
          <li>Portsmouth</li>
        </uL>
        <p>You need to stop and present your CITES documents to a customs official for endorsement. You should check other custom controls required by HMRC. Read more about importing goods to the UK or exporting to the EU through roll on roll off services.</p>

        <h3 class="govuk-heading-s">Importing and exporting CITES specimens through Eurotunnel</h3>
        <p>To import CITES specimens into GB through Eurotunnel you must present your CITES documents for endorsement.</p>
        <p>If you’re exporting specimens from GB through Eurotunnel you must present your CITES documents to Border Force at a suitable designated point of entry and exit before you travel through Eurotunnel.</p>

        <h2 class="govuk-heading-m">CITES species coming into the UK from outside the EU</h2>
        <p>For all CITES species that enter the UK from outside the EU (rest of world), different animal and plant health conditions apply.</p>
        <p>You must check the guidance and use the correct point of entry and exit if you’re importing live animals, animal products and high-risk food and feed not of animal origin.</p>
        <p>Read the guidance about border control posts (BCP) for animals and animal products.</p>

        <h2 class="govuk-heading-m">Moving products of animal origin (POAO)</h2>
        <p>Before you import products of animal origin (POAO), you should check that the port or airport has the approvals and facilities to handle:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>products for human consumption</li>
          <li>products not for human consumption</li>
          <li>chilled or frozen goods</li>
        </uL>

        <h2 class="govuk-heading-m">Moving food not of animal origin (FNAO)</h2>
        <p>You can move food not of animal origin (FNAO) for human consumption or animal feed through designated points of entry or exit for high risk foods.</p>

        <h2 class="govuk-heading-m">Moving controlled plants or plant products or forestry materials (FM)</h2>
        <p>Read the guidance about which ports or airports can handle the import and export of controlled plants and plant products or regulated forestry material.</p>

        <h2 class="govuk-heading-m">Moving to approved inland facilities</h2>
        <p>You may also import controlled plants and plant specimens or regulated forestry material through any CITES-designated ports if they are going to approved inland facilities. Use the guidance to understand the rules and documents needed:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk">Importing plants, fruit, vegetables or plant material to the UK</a></li>
          <li><a href="https://www.gov.uk/guidance/import-wood-wood-products-or-bark-from-non-eu-countries">Import wood, wood products or bark from non-EU countries</a></li>
        </uL>

        <h2 class="govuk-heading-m">Moving live animals and animal products</h2>
        <p>Live CITES animals and animal products can move through any CITES designated point of entry or exit.</p>
        <p>If your live CITES animals or animal products are subject to welfare or sanitary and phytosanitary (SPS) controls and need extra documents or checks you must use a point of entry or exit with a border control post (BCP) that can carry out SPS checks on your species. This includes movements of live animals or animal products from GB to NI.</p>
        <p>You can only use Belfast port or Larne port to move live CITES animals from GB to NI.</p>
        <p>Check the Border Operating Model for live animals and animal products subject to SPS controls.</p>

        <h2 class="govuk-heading-m">CITES specimens transiting through GB</h2>
        <p>You need CITES documents from each country if your specimen passes through GB when moving between EU countries.</p>
        <p>For example, to move a CITES specimen from France to the Republic of Ireland (RoI) through GB, you would need an:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>export permit from France</li>
          <li>import and re-export permit from the UK management authority</li>
          <li>import permit from RoI</li>
        </uL>
        <p>You must use a CITES designated point of entry and exit in the UK, and present your documents to the UK Border Force.</p>
        <p>If your specimen passes through GB when moving between a non-EU country (third country) and an EU country, you may be able to get a transit exemption so you do not need to get UK CITES documents. Contact APHA Centre for International Trade: Bristol to check if you can get an exemption.</p>
        <p>You can contact APHA Centre for International Trade: Bristol for advice if your CITES specimen will transit through GB.</p>

        <h2 class="govuk-heading-m">Returned goods</h2>
        <p>If your CITES specimen has been exported from Great Britain but is rejected by the importing country, contact UK Border Force at CITESteam@homeoffice.gov.uk to let them know it’s been rejected.</p>
        <p>You’ll also need to get CITES documents to re-import the items into Great Britain. Contact the APHA team for endangered plant and animal species (CITES) for more details.</p>

        <h2 class="govuk-heading-m">Contact Border Force</h2>
        <p>The Border Force office has a 24 hour service, Monday to Sunday.</p>
        <p>Telephone: +44 (0)300 1060 732</p>
        <p>Email: <a href="#">doverinternationaltrade@homeoffice.gov.uk</a></p>

        <h2 class="govuk-heading-m">Contact APHA</h2>
        <p>You can <a href="#">contact APHA for support</a> with trading or moving endangered animals or plants listed under CITES.</p>

      </div>
    </div>
  </main>
</div>


{% endblock %}
