{% extends "layout.html" %}

{% set thisPageTitle = "how-many-unmarked" %}


  {% block content %}

  <link rel="stylesheet" href="/public/stylesheets/accessible-autocomplete.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" autocomplete="off">

      <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How many unmarked specimens do you want to apply for?
            </h1>
          </legend>
          <p class="govuk-body">Enter the number of unmarked specimens that you want to apply for on this permit</p>
      <div class="govuk-form-group">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <label class="govuk-label" for="unmarked-quantity">Number of unmarked specimens</label>
          <input class="govuk-input govuk-input--width-4" id="unmarked-quantity" name="unmarkedQuantity" type="text" value="{{data['unmarkedQuantity']}}">
        </div>
      </div>
    </div>
  </div>


    <button class="govuk-button">Continue</button>
    </form>

  </div>
</div>

    {% endblock %}
