{% extends "layout.html" %}

{% set thisPageTitle = "what-best-describes-the-specimen" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!-- <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['quantity']}})</span> -->
            <h1 class="govuk-fieldset__heading">
              What best describes the specimen?
            </h1>
          </legend>

<!-- Animal -->
{% if data['specimenType'] === 'animal'%}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="description-1" name="specimenDescription" type="radio" value="livingAnimal">
              <label class="govuk-label govuk-radios__label" for="description-1">
                <p class=" govuk-!-margin-bottom-0">A living animal
              </label>
            </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="description-2" name="specimenDescription" type="radio" value="animalPart">
                <label class="govuk-label govuk-radios__label" for="description-2">
                  <p class="govuk-!-margin-bottom-0">An animal part or derivative</p>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="description-3" name="specimenDescription" type="radio" value="workedItem">
                <label class="govuk-label govuk-radios__label" for="description-3">
                  <p class="govuk-!-margin-bottom-0">A worked item or finished product</P>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="description-4" name="specimenDescription" type="radio" value="coral">
                <label class="govuk-label govuk-radios__label" for="description-3">
                  <p class="govuk-!-margin-bottom-0">Coral</P>
                </label>
              </div>
          </div>
{% endif %}

<!-- Plant -->
{% if data['specimenType'] === 'plant'%}
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="description-1" name="specimenType" type="radio" value="livingAnimal">
                <label class="govuk-label govuk-radios__label" for="description-1">
                  <p class=" govuk-!-margin-bottom-0">A living plant
                </label>
              </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="description-2" name="specimenType" type="radio" value="animalPart">
                  <label class="govuk-label govuk-radios__label" for="description-2">
                    <p class="govuk-!-margin-bottom-0">A plant product</p>
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Any plant body or part that was removed from its natural habitat to make a product. For example, seeds, fruits, roots, stems, flowers or leaves, including extracts or powders.
                  </div>
                </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="description-3" name="specimenType" type="radio" value="workedItem">
                <label class="govuk-label govuk-radios__label" for="description-3">
                  <p class="govuk-!-margin-bottom-0">A worked item or finished product</P>
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  A specimen that has been significantly altered from its natural raw state and used for items such as furniture, jewellery, carved figures or musical instruments.
                </div>
              </div>
            </div>
{% endif %}
        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>



{% endblock %}
