{% extends "layout.html" %}

{% set thisPageTitle = "confirm-your-address-applicant" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm the address
            </h1>
          </legend>

          {% if data['your-address'] === '38 Western Road, Billericay CM12 9DX'  %}
          <p>
            <br>38 Western Road
            <br>Billericay
            <br>CM12 9DX
            <!-- <br>{{data['address-postcode']}} -->
          </p>
            {% endif %}

          {% if data['your-address'] === '40 Western Road, Billericay CM12 9DX'  %}
          <p>
            <br>40 Western Road
            <br>Billericay
            <br>CM12 9DX
            <!-- <br>{{data['address-postcode']}} -->
          </p>
            {% endif %}

          {% if data['your-address'] === '42 Western Road, Billericay CM12 9DX'  %}
          <p>
            <br>42 Western Road
            <br>Billericay
            <br>CM12 9DX
            <!-- <br>{{data['address-postcode']}} -->
          </p>
          {% endif %}

          <p>
            <br>42 Western Road
            <br>Billericay
            <br>CM12 9DX
            <!-- <br>{{data['address-postcode']}} -->
          </p>

          <!-- <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="address-1-applicant" name="address-applicant" type="radio" value="address-1-applicant" required>
              <label class="govuk-label govuk-radios__label" for="address-1-applicant">
                Deliver the permit to this address
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="address-2-applicant" name="address-applicant" type="radio" value="address-2-applicant">
              <label class="govuk-label govuk-radios__label" for="address-2-applicant">
                Deliver the permit to a different address
              </label>
            </div>
          </div> -->

        </fieldset>
      </div>
      <button class="govuk-button">Confirm</button>
      <p><a href="what-is-your-address-applicant" >Change address</a></p>

    </form>
  </div>
</div>



{% endblock %}
