{% extends "layout.html" %}

{% set thisPageTitle = "cya" %}

  {% block content %}

  <link rel="stylesheet" href="/public/stylesheets/accessible-autocomplete.min.css">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post" autocomplete="off">
        <span class="govuk-caption-l">{{data['speciesName']}}
          <!-- ({{data['specimenCount']}} of {{data['totalSpecimens1']}}) -->
        </span>
          <h1 class="govuk-heading-l">Do you want to use these details for {{data['speciesName']}} ({{data['currentSpecimenCount']}} of {{data['totalSpecimens1']}})?</h1>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <table class="govuk-table">
                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Species</caption> -->
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Is the specimen alive?</th>
                    <td class="govuk-table__cell">{{data['isAlive']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1?species-name-1={{data['species-name-2']}}">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Where are you importing the specien from?</th>
                    <td class="govuk-table__cell">{{data['countryImportingFrom']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Country of origin</th>
                    <td class="govuk-table__cell">{{data['country-of-origin']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Counytry of origin permit number</th>
                    <td class="govuk-table__cell">{{data['permit-number']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Country of origin permit issue date</th>
                    <td class="govuk-table__cell">{{data['permit-issued-day']}} {{data['permit-issued-month']}} {{data['permit-issued-year']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Country of last re-export</th>
                    <td class="govuk-table__cell">{{data['re-export-country']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Country of last re-export certificate number</th>
                    <td class="govuk-table__cell">{{data['cert-number']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Country of last re-export certificate issue date</th>
                    <td class="govuk-table__cell">{{data['cert-issued-day']}} {{data['cert-issued-month']}} {{data['cert-issued-year']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Where will you keep the specimen?</th>
                    <td class="govuk-table__cell">{{data['specimen-address-line-1']}} {{data['specimen-address-line-2']}} {{data['specimen-address-town']}} {{data['specimen-address-postcode']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Source code</th>
                    <td class="govuk-table__cell">{{data['specimenSource']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Purpose code</th>
                    <td class="govuk-table__cell">{{data['purpose']}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right"><a href="species-add-to-list-1">Change</a></td>
                  </tr>
                </tbody>
              </table>

              <div class="govuk-form-group">
                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yes-all" name="useDetails" type="radio" value="yes-all">
                    <label class="govuk-label govuk-radios__label" for="yes-all">
                      Yes - use these details for all {{data['totalSpecimens1']}} {{data['speciesName']}}
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yes-one" name="useDetails"  type="radio" value="yes-one">
                    <label class="govuk-label govuk-radios__label" for="yes-one">
                      Yes - use these details for {{data['speciesName']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="no-none" name="useDetails"  type="radio" value="no-none">
                    <label class="govuk-label govuk-radios__label" for="no-none">
                      No - use different details
                    </label>
                  </div>
                </div>
              </div>

              <button class="govuk-button">Continue</button>

              <!-- <a href="how-many-specimens" class="govuk-button" data-module="govuk-button">Continue</a> -->

              <!-- End two-thirds content -->
            </form>
          </div>
          </div>


    {% endblock %}
