
{% extends "layout.html" %}

{% block beforeContent %}
  {% include ".//includes/stage-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ thisPageTitle }}
      </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
              Version
            </dt>
            <dd class="govuk-summary-list__key">
              Changes
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 10px">
              v14
              <p class = "govuk-body-s">Mar 2026 (s4)</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <h2 class="govuk-heading-s">Applicant journey</h2>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    First time applicant
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <h2 class="govuk-heading-s">Pages</h2>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="v14/check-if-you-need-a-cites-permit?newUser=yes">
                      Check if you need a CITES permit (Guidance)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/apply-for-a-cites-permit">
                      Apply for a CITES permit (Guidance)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/login">
                      Login with Government Gateway<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/represent">
                      Who are you representing?<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/applicant-dashboard?newUser=yes">
                      Applicant dashboard<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/check-your-answers">
                      Check your answers page<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/application-complete?payNow=no">
                      Application submitted (not paid)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                     
                    <li>
                      <a href="v14/application-complete?payNow=yes">
                      Application complete (fee paid)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Experienced applicant
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <h2 class="govuk-heading-s">Pages</h2>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="v14/email-change-of-service?newUser=no">
                        Email: Change of service (Guidance)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/application-complete?newUser=no">
                      Application completed (confirmation page)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/login">
                      Login with Government Gateway<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/represent">
                      Who are you representing?<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/applicant-dashboard?newUser=no">
                      Applicant dashboard<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                     <li>
                      <a href="v14/check-your-answers">
                      Check your answers page<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/application-complete?payNow=no">
                      Application submitted (not paid)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/application-complete?payNow=yes">
                      Application complete (fee paid)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/view-application?newUser=submitted">
                      View application<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/view-submission">
                      View submission<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/view-permit">
                      View permit<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="/public/downloads/26GBEXP12345A-valid.pdf" target="_blank">
                      Download permit(pdf)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="/public/downloads/downloads/AB7N10639G-3EXP-CITES.pdf" target="_blank">
                      Download multipage permit(pdf)<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/permit/26GBEXP12345A?permitStatus=issued" target="_blank">
                      Check cites permit status == Issued<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Scan QR code and check permit status
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <h2 class="govuk-heading-s">Pages</h2>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/public/downloads/26GBEXP12345A-valid.pdf" target="_blank">
                      View pdf with QR code<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/permit/26GBEXP12345A?permitStatus=issued" target="_blank">
                      Check cites permit status == Issued<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/permit/26GBEXP12345A?permitStatus=endorsed" target="_blank">
                      Check cites permit status == Endorsed<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                    <li>
                      <a href="v14/permit/26GBEXP12345A?permitStatus=expired" target="_blank">
                      Check cites permit status == Expired<span class="govuk-visually-hidden"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </details>
              
              <h2 class="govuk-heading-s" >Experimental features</h2> <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="v14/what-species.html">
                  What species? <span class="govuk-visually-hidden"></span>
                  </a>
                </li>
              </ul>
            </dd>
            
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 10px">
              v13
              <p class = "govuk-body-s">Feb 2026 (s3)</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <h2 class="govuk-heading-s" >Scenario: Applicant self serves ePermits</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="v13/email-notification">
                  Email notification<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v13/your-applications">
                  Your applications (current live)<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v13/applicant-dashboard">
                  Applicant dashboard (new nested) <span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v13/view-submission">
                  View submission - list applications (current live)<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                 <li>
                  <a href="v13/view-application">
                  View application details (current live) <span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v13/view-permit">
                  View permit details (new) <span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                
                <li>
                  <a href="/public/downloads/cites-export-falcon-permit.pdf" target="_blank">
                  View and print permit (pdf)<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                  
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="v13/email-notification">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 10px">
              v12
              <p class = "govuk-body-s">Feb 2026 (s2)</p>
            </dt>
            <dd class="govuk-summary-list__value">
              <h2 class="govuk-heading-s" >Applicant journey screens to test</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="v12/your-submissions.njk">
                  Applicant dashboard - preprod<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                <a href="v12/applicant-dashboard-tabbed">
                Applicant dashboard - tabbed<span class="govuk-visually-hidden"></span>
                </a>
                </li>
                <li>
                  <a href="v12/applicant-dashboard-nested">
                  Applicant dashboard - nested<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v12/applicant-dashboard-tabbed-consignment">
                  Applicant dashboard - consignment<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v12/export-falcon-permit-summary">
                  View permit summary<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                
                <li>
                  <a href="/public/downloads/cites-export-falcon-permit.pdf" target="_blank">
                  View and print permit (pdf)<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                  
              </ul>
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v11
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Todo - update to match current live</h2>
              
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v10 
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Scenarios (2023)</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="v10/your-submissions?specimenType=animal&fromPage=&searchValue=">
                  Animal application<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v10/your-submissions?specimenType=plant&fromPage=&searchValue=">
                  Plant application<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v10/my-submissions-no-applications-made?specimenType=animal&fromPage=&searchValue=">
                  First time applicant<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v10/declaration?simplePayment=yes">
                  Simple payment<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="link" href="v10/your-submissions?specimenType=animal&searchValue=">
                View protoype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v9
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Account view</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="v9/your-submissions?specimenType=animal&fromPage=&searchValue=">
                  Animal - Existing user<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v9/account-no-applications?specimenType=animal&fromPage=&searchValue=">
                  Animal - New user<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v9/your-submissions?specimenType=plant&fromPage=&searchValue=">
                  Plant - Existing user<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li>
                  <a href="v9/account-no-applications?specimenType=plant&fromPage=&searchValue=">
                  Plant - New user<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="v9/your-submissions?specimenType=plant&searchValue=">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v8
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Authenticated user journey</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="v8/account-no-applications?specimenType=animal&fromPage=&searchValue=">
                        Service landing page - First time applicant<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="v8/your-submissions?specimenType=animal&fromPage=&searchValue=">
                        Service landing page - Experienced applicant<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="v8/guidance-1">
                        Guidance 1<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="v8/guidance-2">
                        Guidance 2<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="v8/guidance-3">
                        Guidance 3<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="v8/guidance-4">
                        Guidance 4<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="v8/your-submissions?specimenType=animal&searchValue=">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v7
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Unauthenticated user journey</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="v7/start?specimenType=animal">
                        Animal<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="v7/start?specimenType=plant">
                        Plant<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="v7/start?specimenType=animal">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

    </div>
</div>

{% endblock %}
