{% extends "layout-with-navigation.html" %}

{% set pageTitle = "your-submissions" %}

{% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--green">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/applicant-dashboard-main-sorting.png" alt="applicant dashboard sorting" style="width: 100%; height: auto;">
  </div>
</div>
{% endblock %}
