{% extends "layout-with-navigation.html" %}

{% set pageTitle = "your-submissions" %}

{% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--green">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="https://cdn.qr-code-generator.com/qrcode-preview?background_color=%23ffffff&foreground_color=%23000000&marker_left_inner_color=%23000000&marker_left_outer_color=%23000000&marker_right_inner_color=%23000000&marker_right_outer_color=%23000000&marker_bottom_inner_color=%23000000&marker_bottom_outer_color=%23000000&marker_left_template=version17&marker_right_template=version17&marker_bottom_template=version17&qr_code_text=https%3A%2F%2Fqrco.de%2FbgcGgV&frame_name=no-frame&Expires=1770910815&Signature=CYmHSf1EnWehjJXkVIcb8OrP5xWlUINioe7IL3hkdfT~KvqwmHEpvwgLCBxSBUXnev7QOX5Y4KA8e9n9pOchqn9-99Run4omuooyP7nPV57YTe-2e~1S7opgMX-F0EqgKGmaSSYOUXKeVdQYnGF3xi6v9IMnNRQdOfKZXlXUG-HqPIXh5G-LvYbUSYPxOydgiiWLrj4D8-jh12t-22VSoGu5UEOhqOKwqRKwqxA3ZFcvbSDltiMAga9F5wA2sAoP8BE4qOnEMNNct8LArXcHtk7T8w8zfREf2EDw7ElYayPX2BwHUjeXzvphARKLq2cE0SA9u95teMITuRez3ymXIg__&Key-Pair-Id=KKMPOJU8AYATR" alt="export falcon permit summary" style="width: 100%; height: auto;">
  </div>
</div>
{% endblock %}
